.btn {
  @extend .inline-b;
  @extend .ttu;
  background: cl(primary);
  color:cl(white);
  font-size: rem(16px);
  line-height: rem(50px);
  font-family: $font;
  font-weight: 700;
  border: rem(1px solid cl(primary));
  cursor: pointer;
  border-radius: rem(25px);
  padding: rem(0 35px);
  outline: 0;
  white-space: nowrap;
  &:hover {
    border-color:cl(primary);
    background: cl(primary, 0.9);
    color:cl(white);
    text-decoration: none;
  }
  &:focus {
    box-shadow:none;
    color:cl(white);
  }
}